
The UC Discount Framework module utilizes the Ubercart core Conditional Actions module for configuring discounts. For understanding how to configure Conditional Actions visit <a href="http://www.ubercart.org/docs/user/7657/configuring_conditional_actions">Configuring Conditional Actions</a>.

After we understand what a Conditional Action is, we'll take a look at the different <a href="&topic:uc_discount/triggers&">triggers</a>, <a href="&topic:uc_discount/conditions&">conditions</a> and <a href="&topic:uc_discount/actions&">Actions</a> that the UC Discount Framework module provides.

Lastly, we'll take a look at some <a href="&topic:uc_discount/examples&">example discounts</a> and how to configure them.
