
The UC Discount Framework module makes the following actions available to Conditional Actions:

<ul>
  <li>
    <strong>Apply a discount</strong>:
    Apply a discount to the <strong><em>Order</em></strong> total
  </li>
  <li>
    <strong>Apply a discount to a product</strong>:
    Apply a discount to a <strong><em>Product</em></strong>
  </li>
  <li>
    <strong>Apply a discount to a line item</strong>:
    Apply a discount to a <strong><em>Line Item</em></strong>
  </li>
</ul>
