
The evaluation of all conditions must be true before any actions will be taken. The UC Discount Framework module makes the following conditions available to Conditional Actions:

<ul>
  <li>
    <strong>Node category</strong>:
    If the <strong><em>Product</em></strong> belongs to the selected <strong><em>Categories</em></strong>
  </li>
  <li>
    <strong>Node type</strong>:
    If the <strong><em>Product</em></strong> is of a particular type of <strong><em>Content</em></strong>
  </li>
  <li>
    <strong>Coupon entered</strong>:
    If a <strong><em>Coupon Code</em></strong> has been <strong><em>Entered and Validated</em></strong>
  </li>
  <li>
    <strong>Shippable Product</strong>:
    If the <strong><em>Product</em></strong> is <strong><em>Shippable</em></strong>
  </li>
</ul>

While these conditions are specific to the UC Discount Framework module, additional conditions are provided by other modules.
