When calculating product discounts on the order, if a valid coupon code was entered, apply a 25% discount to the order total.

From the <strong>Conditional Actions</strong> admin page (/admin/store/ca):
<ol>
  <li>Select the <strong>Add a predicate</strong> tab</li>
  <li>
    Set the following fields
    <ul>
      <li>
        Title
        <strong>25% Coupon Code Discount</strong>
      </li>
      <li>
        Trigger
        <strong>Calculate product discounts on the order</strong>
      </li>
      <li>
        Description
        <strong>When calculating product discounts on the order, if a valid coupon code was entered, apply a 25% discount to the order total</strong>
      </li>
      <li>
        Class
        <strong>Discount</strong>
      </li>
    </ul>
  </li>
  <li>Click the <strong>Save predicate</strong> button</li>
  <li>
    Set the following fields
    <ul>
      <li>
        Available Conditions
        <strong>Coupon entered</strong>
      </li>
    </ul>
  </li>
  <li>Click the <strong>Add condition</strong> button</li>
  <li>
    Set the following fields
    <ul>
      <li>
        Operator
        <strong>equals</strong>
        Coupon codes are NOT case sensitive.
      </li>
      <li>
        Coupon Code
        <strong>2010Convention</strong>
      </li>
    </ul>
  </li>
  <li>Click the <strong>Save changes</strong> button</li>
  <li>Select the <strong>Actions</strong> tab</li>
  <li>
    Set the following fields
    <ul>
      <li>
        Available actions
        <strong>Apply a discount</strong>
      </li>
    </ul>
  </li>
  <li>Click the <strong>Add action</strong> button</li>
  <li>
    Set the following fields
    <ul>
      <li>
        Title
        <strong>2010 Convention Discount</strong>
        This is the discount label that will be used on the cart, checkout and review pages along with the invoices.
      </li>
      <li>
        Operation
        <strong>Multiply</strong>
      </li>
      <li>
        Ammount
        <strong>-.25</strong>
        Although we selected <strong>Multiply</strong> for the operation, we are actually calculating the value we wish to <strong>Add</strong> to the order total.  In this case we want to add (-.25 times the product sell price) to the product sell price.
      </li>
    </ul>
  </li>
  <li>Select the <strong>Save changes</strong> button</li>
</ol>

Congratulations, you have completed setting up a %25 Coupon Code Discount. Now lets test it by visiting the checkout page and entering a coupon code. You should see a <strong>2010 Convention Discount</strong> line on the <strong>Review</strong> page.
