When calculating product discounts, if the product is a specified product, apply a $20 discount to the product's sell price.

From the <strong>Conditional Actions</strong> admin page (/admin/store/ca):
<ol>
  <li>Select the <strong>Add a predicate</strong> tab</li>
  <li>
    Set the following fields
    <ul>
      <li>
        Title
        <strong>$20 Product Specific Discount</strong>
      </li>
      <li>
        Trigger
        <strong>Calculate product discounts</strong>
      </li>
      <li>
        Description
        <strong>When calculating product discounts, if the product is a specified product, apply a $20 discount to the product's sell price</strong>
      </li>
      <li>
        Class
        <strong>Discount</strong>
      </li>
    </ul>
  </li>
  <li>Click the <strong>Save predicate</strong> button</li>
  <li>
    Set the following fields
    <ul>
      <li>
        Available Conditions
        <strong>Compare a node field value</strong>
      </li>
    </ul>
  </li>
  <li>Click the <strong>Add condition</strong> button</li>
  <li>
    Set the following fields
    <ul>
      <li>
        Comparison value
        <strong>This field should be set to the node Id of a product.</strong>
        To find a products node Id, visit the products page and click the edit tab. The products node Id will be the integer just before /edit in the URL.
      </li>
    </ul>
  </li>
  <li>Click the <strong>Save changes</strong> button</li>
  <li>Select the <strong>Actions</strong> tab</li>
  <li>
    Set the following fields
    <ul>
      <li>
        Available actions
        <strong>Apply a discount to a product</strong>
      </li>
    </ul>
  </li>
  <li>Click the <strong>Add action</strong> button</li>
  <li>
    Set the following fields
    <ul>
      <li>
        Title
        <strong>$20 Product Discount</strong>
        This is the discount label that will be used on the cart, checkout and review pages along with the invoices.
      </li>
      <li>
        Ammount
        <strong>-20</strong>
      </li>
    </ul>
  </li>
  <li>Select the <strong>Save changes</strong> button</li>
</ol>

Congratulations, you have completed setting up a $20 Product Specific Discount. The discount should be reflected in the products <strong>Sell Price</strong> on the product, cart, checkout and review pages as well as on the invoice. You may need to clear Drupal's cache before the changes visible.
