When calculating order discounts, if the user is an authenticated user, apply a 10% discount to the order total.

From the <strong>Conditional Actions</strong> admin page (/admin/store/ca):
<ol>
  <li>Select the <strong>Add a predicate</strong> tab</li>
  <li>
    Set the following fields
    <ul>
      <li>
        Title
        <strong>10% Authenticated User Discount</strong>
      </li>
      <li>
        Trigger
        <strong>Calculate order discounts</strong>
      </li>
      <li>
        Description
        <strong>When calculating order discounts, if the user is an authenticated user, apply a 10% discount to the order total</strong>
      </li>
      <li>
        Class
        <strong>Discount</strong>
      </li>
    </ul>
  </li>
  <li>Click the <strong>Save predicate</strong> button</li>
  <li>
    Set the following fields
    <ul>
      <li>
        Available Conditions
        <strong>Check the role of the user.</strong>
      </li>
    </ul>
  </li>
  <li>Click the <strong>Add condition</strong> button</li>
  <li>
    Set the following fields
    <ul>
      <li>
        Roles
        <strong>Authenticated User</strong>
      </li>
    </ul>
  </li>
  <li>Click the <strong>Save changes</strong> button</li>
  <li>Select the <strong>Actions</strong> tab</li>
  <li>
    Set the following fields
    <ul>
      <li>
        Available actions
        <strong>Apply a discount</strong>
      </li>
    </ul>
  </li>
  <li>Click the <strong>Add action</strong> button</li>
  <li>
    Set the following fields
    <ul>
      <li>
        Title
        <strong>Authenticated User Discount</strong>
        This is the discount label that will be used on the cart, checkout and review pages along with the invoices.
      </li>
      <li>
        Operation
        <strong>Multiply</strong>
      </li>
      <li>
        Ammount
        <strong>-.1</strong>
        Although we selected <strong>Multiply</strong> for the operation, we are actually calculating the value we wish to <strong>Add</strong> to the order total.  In this case we want to add (-.1 times the product sell price) to the product sell price.
      </li>
    </ul>
  </li>
  <li>Select the <strong>Save changes</strong> button</li>
</ol>

Congratulations, you have completed setting up a %10 Authenticated User Discount. Now lets test it by adding a product to the shopping cart and viewing the checkout page. You should see an <strong>Authenticated User Discount</strong> line in the <strong>Payment method</strong> section of the <strong>Checkout</strong> screen.
