
A trigger is basically an event that we use to "trigger" when a discount should be applied. The UC Discount Framework module makes the following triggers available to Conditional Actions:

<ul>
  <li>
    <strong>Calculate Order Discounts</strong>:
    When <strong><em>Order</em></strong> discounts that are to be applied to the <strong><em>Order</em></strong> total are being calculated
  </li>
  <li>
    <strong>Calculate Product Discounts</strong>:
    When <strong><em>Product</em></strong> discounts that are to be applied to the <strong><em>Product</em></strong> are being calculated
  </li>
  <li>
    <strong>Calculate Line Item Discounts</strong>:
    When <strong><em>Line Item</em></strong> discounts that are to be applied to the <strong><em>Line Item</em></strong> are being calculated
  </li>
  <li>
    <strong>Calculate Products Discounts on the Order</strong>:
    When <strong><em>Product</em></strong> discounts that are to be applied to the <strong><em>Order</em></strong> total are being calculated
  </li>
</ul>
